/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	color:black;
	text-decoration: none;
}
li a:hover{
color: #B1663C;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.buttonContainer {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.buttons {
	padding: 10px 18px 8px 15px;
	font-family: 'Syne';
	font-size:16px;
	font-weight:700;
	color:#1D6154;
	border: 1px solid #1D6154;
	border-radius:60px;
	margin-bottom:30px;
	margin-right:15px;
	background-color: #ffffff;
}

.active{
	background-color: #1D6154;
  	cursor: pointer;
	color: #ffffff; 
}
.buttons:hover{
	background-color: #1D6154;
  	cursor: pointer;
	color: #ffffff; 
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 30px;	
}
.gallery img {
	width: 100%;
	height:450px;
	object-fit:cover;
}
#contact, #connexionForm {
	width: 50%;
	margin: auto;
}
#contact > *, #connexionForm > * {
	text-align: center;
}
#contact h2, #connexionForm h2{
	margin-bottom: 20px;
}
#contact form, #connexionForm form, #addWorkForm {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input, #connexionForm input, #addWorkForm input, #addWorkForm select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	
}#addWorkForm select{
	background-color:#ffffff;
}
#contact label, #connexionForm label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
#email, #password{
	margin-bottom: 10px;
}
.edition_mode{
	background-color: #000000;
	color: #ffffff;
	height:60px;
	display:flex;
	justify-content:center;
	align-items:baseline;
	width:100%;
}
.edition_mode div{
	padding-top:20px;
	margin-right:10px;
	font-size:16px;	
}
#introduction figure figcaption{
	margin-left: 55px;
	margin-top: 15px;
}
.modifTag{
	font-size:14px;
	font-weight: 400;
	color: rgba(0,0,0,1);
	font-family: work sans;
}
#modalLink:hover, .fa-xmark:hover, .fa-trash-can:hover, #openAddModal:hover{
	cursor:pointer;
}
#portfolio h2 span{
	margin-left: 20px;
}
#introduction article h2{
	margin-top: 20px;
}
#modalWindow, #addWork{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.3);
	display:flex;
	justify-content:center;
	align-items:center;
}
.modalContent, .addContent {
	position:relative;
	margin:auto;
	width:750px;
	background-color: #ffffff;
	overflow:auto;
	border-radius:10px;
}
.galleryEdition {
	width: 70%;
	margin: 30px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 20px;
	border-bottom: 1px solid rgba(179,179,179,1);
	padding-bottom:50px;
}
.galleryEdition img {
	width: 100%;
	height:120px;
	object-fit:cover;
}
.editionImg {
	position:relative;
}
.fa-trash-can{
	position:absolute;
	top:5px;
	left:60px;
	color:#ffffff;
	background-color: black;
	padding:6px;
	border-radius:4px;
	font-size:0.8em;
}
.modalContent h2, .addContent h2{
	text-align: center;
	font-family: work sans;
	font-size:26px;
	color: rgba(0,0,0,1);
	font-weight:400;
	margin-top: 50px;
}
.fa-xmark{
	position:absolute;
	left: 710px;
	top:30px;
	font-size:18px
}
.modalContent p {
	font-family: 'Syne';
	font-weight: 700;
	font-size:14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding:8px 20px;
}
#gallerySuppression {
	color: rgba(214,83,83,1);
	font-weight: 400;
	background-color: #ffffff;
}
.fa-arrow-left{
	position:absolute;
	left: 30px;
	top:30px;
	font-size:18px
}
.insertPhoto {
	position:relative;
	height: 200px;
	background-color: rgba(232, 241, 246, 1);
	margin: 30px auto;
	padding: 20px 0px;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;	
}
#addWorkForm {
	width:70%;
	margin:20px auto;
	display:flex;
	flex-direction: column;
}
#addWorkForm label {
	margin:15px 0px;
}
.forBorder {
	display:flex;
	flex-direction:column;
	border-bottom: 1px solid rgba(179,179,179,1);
	padding-bottom: 50px;
}
.fa-image {
	font-size: 80px;
	color: rgba(185, 197, 204, 1);
}
#addButton {
	position: relative;
}
#addButton label {
	font-family: 'work sans';
	font-weight: 600;
	font-size: 14px;
	color: rgba(48, 102, 133, 1);
	background: rgba(203, 214, 220, 1);
	padding:10px 25px;
	text-align: center;
	border-radius: 60px;
}
#image {
	position:absolute;
	top:-30px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0;
}
#image:hover {
	cursor:pointer;
}
#validButton {
	background: rgba(167, 167, 167, 1);
	width: 300px;
}
#Modal:hover, #closeBtn:hover, #submit, #validButton {
	cursor:pointer;	
}
#thumbnailWindow {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.3);
	display:flex;
	justify-content:center;
	align-items:center;
}
 #thumbnailWindowContenu {
	position:relative;
	width:300px;
	height:350px;
	margin: 0px auto;
	background-color: #ffffff;
	overflow:auto;
	border-radius:10px;
}
#thumbnailWindowContenu p {
	font-family: 'work sans';
	font-size:15px;
	margin : 1em auto ;
	text-align: center;
	border-radius: 60px ;
	padding:8px 20px;
}
.deleteImg {
	height:220px;
	object-fit:cover;
	box-sizing:border-box;
	margin:0px;
}
#closeBtn {
	background-color:rgba(48, 102, 133, 1) ;
	color: #ffffff;
	box-sizing:border-box;
	width:50%;
}
#thumbnailContainer {
	width:50%;
	margin:auto;
}
#thumbnailContainer img {
	object-fit:cover;
	width:100%;
}
.publish:hover {
	cursor:pointer;
}

.uploadedImage {
width:40%;
height:100%;
object-fit:cover;
position:absolute;
}

